body{
    background-color: bisque;
}

ul li{
    display: inline-block;

 }
 .nav-link{
    text-decoration: none;
    color: #000;
 }
 .nav-link:hover{
     background-color: aliceblue;
     color: #000;

 }
